.row{
	background-color: #d1e0e0;
	margin-bottom: 10px;
}















/*.bdy {
	background-image: url("bg.jpg");
	opacity: 1;
}

.top {
	font-size: 100%;
	text-align:center;
	padding: 10px;
	color: black;
}
.outerdiv{
	padding: 30px;
	outline-style: inset;
	outline-color: skyblue;
}

.navigation {
	background-color: none;
	border: 3px;
	padding: 10px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1px 1px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
li a:hover:not(.active) {
    background-color: #111;
}

#intro {
	font-size: 120%;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 20px;
    margin-left: 10px;
}
#edu {
	font-size: 120%;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 20px;
    margin-left: 10px;
}
#projects {
	font-size: 120%;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 20px;
    margin-left: 10px;
}
#extra {
	font-size: 120%;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 20px;
    margin-left: 10px;
}
#contact {
	font-size: 120%;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 20px;
    margin-left: 10px;
}

.image {
	margin-top: 10px;
}
.myImage{
	line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:230px;
    float:left;
    padding:15px;
    display: block;
    margin: auto;
}
.competencies {
	width:600px;
    float:left;
    padding:20px;
}
.txt {
	background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}
#java {
		
	}
#dbms{
		
	}
#ui{
	border-style: inset;
	border-width: 2px 10px 4px 20px;
	font-size: 140%;
	border-color: skyblue;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 80px;
    margin-bottom: 100px;
    margin-right: 30px;
    margin-left: 10px;

	}
#sap{
	margin-right: 10px;	
	margin-left: 10px;
	}
#management{
	border-style: inset;
	border-width: 2px 10px 4px 20px;
	font-size: 140%;
	border-color: skyblue;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 80px;
    margin-bottom: 100px;
    margin-right: 30px;
    margin-left: 10px;
	}
#testing {

}


.connect {
	background-color: #cce6ff;
    color: black;
    clear: both;
    text-align: center;
    padding: 5px;
}


a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: green;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: blue;
    background-color: transparent;
    text-decoration: none;
}
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;*/
